@using Markdig
@inject MarkdigPipelineService MarkdigPipelineService

<div class="markdown-body">
    @(_htmlContent)
</div>


@code {

    private MarkupString _htmlContent;

    [Parameter]
    public string Content { get; set; } = string.Empty;

    protected override void OnParametersSet()
    {
        var trimmedMarkdown = Markdig.Markdown.ToHtml(Content, MarkdigPipelineService.Pipeline).TrimEnd(Environment.NewLine.ToCharArray());
        _htmlContent = (MarkupString)trimmedMarkdown;
    }

}
