.container {
    display: grid; 
    grid-template-rows: 1fr auto; 
    height: 100%; 
    padding: 24px 0;
}

.chat-box {
    max-width: 70%;
}

::deep .button-lowercase {
    text-transform: none;
}

@media screen and (max-width: 600px) {
    .chat-box {
        max-width: 85%;
    }
}