@page "/"

<PageTitle>SSW RulesGPT</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Authorized.</p>
    </Authorized>
    <NotAuthorized>
        <p>Not authorized.</p>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

<RulesBotChat/>